<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.andersenlab.boilerplate">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".BoilerplateApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity android:name=".activity.BaseActivity"/>

        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="8e0d09d7a69982a5ddf712600e52df6043e1a4f2" />

        <!--<meta-data android:name="com.bumptech.glide.integration.okhttp3.OkHttpGlideModule"
                   tools:node="remove" />-->
    </application>
</manifest>